.contacts {
  margin-left: 0;
  list-style: none;
  width: 500px;
  padding: 50px 15px 15px;
}

.notification {
  font-size: 50px;
  font-weight: 900;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
